.centrar{
	margin:auto; 
	padding-top:1%; 
	padding-left:-1%; 
}

.logo{
	width: 80px;
	height: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.input-field input:focus{
	border-bottom: 1px solid  #fc7323 !important;
	box-shadow: 0 1px 0 0  #fc7323 !important;

}

.input-field .prefix.active{
	color:  #fc7323 !important;
}

.center {
     vertical-align: middle;
}

.page-footer{
	background-color:#238276 !important;
	font-family: verdana;

} 

.row{
	font-family: verdana;
}

.valing-center{
	font-family: verdana;
}

i.icon-black {
    color: black;
}

@media screen and (max-width:1024px) and (min-width:640px) {
    .float-button{
      position: absolute; 
      display: inline-block; 
      right: 15%; 
      top: 50%; 
      z-index:100;
    }
}
@media screen and (min-width:1024px) {
    .float-button{
      position: absolute; 
      display: inline-block; 
      right: 15%; 
      top: 50%; 
      z-index:100;
    }
}


.btn-principal:hover{
  background-color:  #fc7323!important;
}

.btn-sub{
  background-color: #238276 !important;
}

.btn-sub:hover{
  background-color: #fc7323 !important;
}

