/*Logo*/
.logo{
  width:80px;
  height:80px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*Fuente de la pagina */
div{
	font-family: verdana;
}
/*Banner*/

/*Secciones Control Rutina */
.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .indicator {
    background-color:#fc7323;
} 

.tabs .tab a:hover {
    background-color:#ffcc80 !important;
    color:#000 !important;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:white !important;
    color:#fc7323 !important;
} /*Background and text color when a tab is active*/








        
           